/*Start Contact_Us page Section coding*/
#loginbody
{
  background-image: url(../pics/beauty.jpg);
    background-size:100% 650px;
    padding:0px;
    margin:0px;
    background-attachment: fixed;
}

#contact_nav_item
{
  box-sizing:border-box;
  width:15%;
  height:35px;
  text-align: center;
  margin-top: 0px;
  
}

#contact_nav_item a
{
  color: white;
  text-decoration: none;
}


#contact_nav_item:hover
{
  background-color: seagreen;
}




#contact_nav
{
  margin: 0;
  padding: 0px;
  width:100%;
  height:170px;
  background-color:rgba(0,0,0,0.6);
  float:left;
  box-sizing:border-box;
  margin-top: -35px;
}


#domain_name
{
  font-size: 45px;
  color: white;
  text-decoration: underline;
}




#ftr
{
  width:100%; 
  height:230px;
  box-sizing-border-box;
  background-color:black;
  display: flex;
  margin-top: 130px;
}



#contact_us
{
  width:20%; 
  height:230px; 
  box-sizing-border-box; 
  background-color:black; 
  margin:10px;
 }



#social_link{
  width:33.33%; 
  height:230px; 
  box-sizing-border-box; 
  background-color:black; 
  padding:10px;
  margin-left: 40px;
}


#contact_title{
  color:white; 
  font-weight:normal; 
  font-family:sans-serif;
  padding-left:15px ;

}


#contact_detail{
  color:white; 
  font-size:18px; 
  font-weight:normal; 
  font-style:normal; 
  padding-left: 20px;
  margin-top: 5px;
}



#linklogo{
width: 40px;
height: 45px;
}



#devloper{
  width: 33.33%;
  color:red; 
  margin-top:100px; 
  padding-left:170px; 
  font-size:27px; 
  font-weight:normal;
}

 a 
{
  margin-left: 5px;
  padding: px;
}

  /*End Contact_page codding*/